
.projectItem {
	border: 1px solid #ccc;
	padding: 1rem;
	border-radius: 2px;
	display: block;
	&.lightenText {
		color: #f7f7f7;
	}
	.projectImage {
		height: 15.7rem;
		width: 100%;
		object-fit: cover;
		object-position: center;
	  }
}
